
.edit-profile-form { box-sizing: border-box; }
.edit-profile-form { font-family: sans-serif; margin: 20px; padding: 0; }
.edit-profile-form label { display: block; margin-bottom: 20px; }

.background {
    display: flex;
    justify-content: center;
    transition: all .2s;
}

.background--active{
    background-color: purple;
}

.picture {
    border: 4px solid transparent;
    transition: all .2s;
}

.picture--active {
    border: 4px solid #000;
}